        <!-- received orders list -->
        <div class='container'>
            <h1>Received Orders</h1>
            <table id='received-orders' class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Order</th>
                </tr>
              </thead>
              <tbody id="received-orders-list">
                  {{#if received_orders}}
                      {{#each received_orders}}
                        <tr id={{this.id}}>
                            <td class='name'>{{this.name}}</td>
                            <td class='items'>{{this.order}}</td>
                            <td>
                                <button class="btn btn-success complete">Complete</button>
                            </td>
                        </tr>

                      {{/each}}
                  {{/if}}
              </tbody>
            </table>
        </div>
        
        <!-- completed orders list -->
        <div class='container'>
            <h1>Orders Ready for Pick Up</h1>
            <table id='completed-orders' class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Order</th>
                </tr>
              </thead>
              <tbody id="completed-orders-list">
                  {{#if completed_orders}}
                      {{#each completed_orders}}
                        <tr id={{this.id}}>
                            <td class='name'>{{this.name}}</td>
                            <td class='items'>{{this.order}}</td>
                            <td>
                                <button class="btn btn-primary picked-up">Picked Up</button>
                            </td>
                        </tr>
                      {{/each}}
                  {{/if}}
              </tbody>
            </table>
        </div>
        
        <!-- order form -->
        <div class='container'>
            <h1>Submit an Order</h1>
            <form class='form'>
                <div class='form-group' id="order-form">
                        <label for="name">Your Name</label>
                        <input class='form-control' type="text" id="name">
                        </br>
                        <label for="name">Order</label>
                        <input class='form-control' type="text" id="order">
                        </br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script id="socket-commands">
        // if in beta, use "http://buttery-1-bkitano.c9users.io"
        // to push to production, use "https://buttery.herokuapp.com"
        
        var socket = io.connect('https://buttery-1-bkitano.c9users.io');

        socket.on('connect', function(data) {
                socket.emit('join', 'Hello World from buttery client');
            });

        // when someone submits an order, emit a socket
        $('form').submit( function(e) {
            e.preventDefault();
            var name = $('#name').val();
            var order = $('#order').val();
            socket.emit('order-from-client', {'name':name, 'order':order});
        });

        // 1a-c. when the server recieves an order, client animation
        socket.on('order-to-client', function(data) {
            var $order = "<tr id=" + data.id + "> <td class='name'>" + data.name + "</td> <td class='items'>"+data.order+"</td> <td> <button class='btn btn-success complete'>Complete</button> </td> </tr>";
            $('#received-orders').append($order);
        });
        
        // 2ab-c. when someone marks an order as complete
        $('#received-orders').on('click', '.complete', function() {
            var $order = $(this).parent().parent();
            var order = {
                'id': $order.attr('id'),
                'name': $order.find('.name').text(),
                'items': $order.find('.items').text()
            };
            
            // 2a-cl
            // $order.find('button').attr('class', 'btn btn-primary picked-up');
            // $order.find('button').text('Picked Up');
            // $('#completed-orders-list').append($order);
            
            // 2a-c
            socket.emit('order-marked-complete', {'order': order});
        });
        
        // 2b-c. when the server tells the client the order was marked complete
        socket.on('marked-complete-to-clients', function(data) {
            console.log('marked-complete-to-clients');
            var order = "<tr id=" + data.order.id + "> <td class='name'>" + data.order.name + "</td> <td class='items'>"+data.order.items+"</td> <td> <button class='btn btn-primary picked-up'>Picked Up</button> </td> </tr>";            
            console.log(order);
            $('#completed-orders-list').append(order);
            
            var find_param = 'tr[id='+String(data.order.id) + ']';
            $('#received-orders-list').find(find_param).fadeOut('slow');
        });
        
        // when someone marks an order as picked-up
        $('#completed-orders').on('click', '.picked-up', function() {
            var $order = $(this).parent().parent();
            var id = $order.attr('id');
            $order.fadeOut('slow');
            
            socket.emit('order-picked-up', {'id':id});
        });
        
        // distributing the completed notification
        
            
        </script>
        