        <!-- orders list -->
        <div class='container'>
            <h1>Received Orders</h1>
            <table id='orders' class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Order</th>
                </tr>
              </thead>
              <tbody id="order-list">
                  {{#if old_orders}}
                      {{#each old_orders}}
                        <tr id={{this.id}}>
                            <td>{{this.name}}</td>
                            <td>{{this.order}}</td>
                            <td>
                                <button class="btn btn-success complete">Complete</button>
                            </td>
                        </tr>

                      {{/each}}
                  {{/if}}
              </tbody>
            </table>
        </div>
        
        <div class='container'>
            <h1>Orders Ready for Pick Up</h1>
            <table id='completed-orders' class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Order</th>
                </tr>
              </thead>
              <tbody id="completed-order-list">
                  {{#if completed_orders}}
                      {{#each completed_orders}}
                        <tr id={{this.id}}>
                            <td>{{this.name}}</td>
                            <td>{{this.order}}</td>
                            <td>
                                <button class="btn btn-primary complete">Picked Up</button>
                            </td>
                        </tr>

                      {{/each}}
                  {{/if}}
              </tbody>
            </table>
        </div>
        
        <!-- order form -->
        <div class='container'>
            <h1>Submit an Order</h1>
            <form class='form'>
                <div class='form-group' id="order-form">
                        <label for="name">Your Name</label>
                        <input class='form-control' type="text" id="name">
                        </br>
                        <label for="name">Order</label>
                        <input class='form-control' type="text" id="order">
                        </br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script id="socket-commands">
        // if in beta, use "http://buttery-1-bkitano.c9users.io"
        // to push to production, use "https://buttery.herokuapp.com"
        var socket = io.connect('http://buttery-1-bkitano.c9users.io');

        socket.on('connect', function(data) {
                socket.emit('join', 'Hello World from buttery client');
            });

        // when someone submits an order
        $('form').submit( function(e) {
            e.preventDefault();
            var name = $('#name').val();
            var order = $('#order').val();
            socket.emit('order-from-client', {'name':name, 'order':order});
        });

        // when the server recieves an order, display it on the page
        socket.on('order-to-client', function(data) {
            var order = "<tr id=" + data.id + "> <td>" + data.name + "</td> <td>"+data.order+"</td> <td> <button class='btn btn-success complete'>Complete</button> </td> </tr>";
            $('#order-list').append(order);
        });
        
        $('#order-list').on('click', '.complete', function() {
            
                // this code is fun but useless.
                // var id = $(this).parent().parent().attr('id');
                // var complete = false;
            
                // $(this).toggleClass('btn-danger');
                // if( $(this).text() === 'Complete') {
                //     $(this).text('Incomplete');
                // } else {
                //     $(this).text('Complete');
                //     complete = true;
                // }
                
                var id = $(this).parent().parent().attr('id');
                var complete = false;
                
                // make it fade out
                $(this).parent().parent().fadeOut('slow',function() {
                    complete = true;
                })
                
                // make it reappear in a 'ready for pick up' section
                
                socket.emit('order-marked-complete', {'id': id});
            });
            
        </script>
        